<section>

<div  class="container shadow bg-body  mb-3 p-3 homework"  >
<div class="row p-3"> 
<h2 class=" display-6 pb-2 "> {{periodo}} </h2>
<ul>
    <app-tarefa *ngFor="let t of tarefas" [t]="t"> </app-tarefa>
   <li>
    <ngb-accordion #acc="ngbAccordion" >
        <ngb-panel  title="Nova Tarefa...">
          <ng-template ngbPanelContent>
            <form #form="ngForm" (ngSubmit)="OnFormsSubmit(form)" id="novaTarefa"> 
              <div> 
                <input ngModel name="text" style="width: 325px;" class="input" type="text" placeholder="Adicionar tarefa..." > 
                <select ngModel name="prioridadeNivel" style="margin-left: 10px;"  form="novaTarefa">
                  <option value="1"> Urgente </option>
                  <option value="2"> Mediana</option>
                  <option value="3"> Leve </option>
                </select>
                <select ngModel name="periodo" style="margin-left: 10px;" form="novaTarefa">
                  <option value="Manhã"> Manhã </option>
                  <option value="Tarde"> Tarde </option>
                  <option value="Noite"> Noite </option>
                </select>
                <button style="margin-left: 10px;">
                  adicionar
                </button>
              </div>

            </form>
          </ng-template>
        </ngb-panel>
    </ngb-accordion>
   </li>
</ul>
</div>
</div>
</section>