li {
    list-style: none;
}

:host-context(.theme-manha) #homework {
    border: 2px solid #f9fc5e!important;
}

:host-context(.theme-tarde) #homework {
    border: 2px solid #f8c16f!important;
}

:host-context(.theme-noite) #homework {
    border: 2px solid #b795d8!important;
}





