li {
    list-style: none;
}

:host-context(.theme-manha) #homework {
    border: 2px solid #fbff05!important;
}

:host-context(.theme-tarde) #homework {
    border: 2px solid #f7a121!important;
}

:host-context(.theme-noite) #homework {
    border: 2px solid #5a08ac!important;
}





