<div class="container">
    <h2 class="lead mb-4" [ngClass]="{'text-light': changetxtColor}">
      Lista
    </h2>
 </div>
 <div class="d-flex justify-content-center"> 
   <app-botao-dia [day]="'seg'" [activeDay]="showDay" (setDay)="currentDay($event)"></app-botao-dia>
   <app-botao-dia [day]="'ter'" [activeDay]="showDay" (setDay)="currentDay($event)"></app-botao-dia>
   <app-botao-dia [day]="'qua'" [activeDay]="showDay" (setDay)="currentDay($event)"></app-botao-dia>
   <app-botao-dia [day]="'qui'" [activeDay]="showDay" (setDay)="currentDay($event)"></app-botao-dia>
   <app-botao-dia [day]="'sex'" [activeDay]="showDay" (setDay)="currentDay($event)"></app-botao-dia>
   <app-botao-dia [day]="'sab'" [activeDay]="showDay" (setDay)="currentDay($event)"></app-botao-dia>
   <app-botao-dia [day]="'dom'" [activeDay]="showDay" (setDay)="currentDay($event)"></app-botao-dia>
   
 </div>


