<div class="container">
    <h2 class="lead mb-4" [ngClass]="{'text-light': changetxtColor}">
      Lista
    </h2>
 </div>
 <div class="container"> 
   <button class="btn btn-info m-2" (click)="emitSeg()"> Segunda </button>
   <button class="btn btn-info m-2" (click)="emitTer()"> Terça </button>
   <button class="btn btn-info m-2" (click)="emitQua()"> Quarta </button>
   <button class="btn btn-info m-2" (click)="emitQui()"> Quinta </button>
   <button class="btn btn-info m-2" (click)="emitSex()"> Sexta </button>
   <button class="btn btn-info m-2" (click)="emitSab()"> Sábado </button>
   <button class="btn btn-info m-2" (click)="emitDom()"> Domingo </button>
   
 </div>


