 <div [ngClass]="darkmodeState ? 'darkMode' : 'normalMode'">
 <app-header (changeMode)="setModeState($event)" ></app-header>

 <div class="resize"> 
<app-lista-titulo [changetxtColor]="darkmodeState" (setDay)="setDayView($event)"> </app-lista-titulo>


  <app-lista-tarefas [setDarkMode]="darkmodeState" painelId="painel-manha" [periodo]="'Manhã'" [showDay]="day" icons="light_mode" class="theme-manha"  ></app-lista-tarefas>

  <app-lista-tarefas [setDarkMode]="darkmodeState"  painelId="painel-tarde" [periodo]="'Tarde'" [showDay]="day" icons="brightness_4" class="theme-tarde"  ></app-lista-tarefas>


  <app-lista-tarefas [setDarkMode]="darkmodeState"  painelId="painel-noite" [periodo]="'Noite'" [showDay]="day" icons="dark_mode" class="theme-noite"  ></app-lista-tarefas>
</div>
<router-outlet></router-outlet>
</div>