<li>
  <ngb-accordion #acc="ngbAccordion" >
    <ngb-panel id="{{painelId}}" title="Nova Tarefa">
      <ng-template ngbPanelContent>
        <form #form="ngForm" (ngSubmit)="OnFormsSubmit(form)" id="novaTarefa" class="form-group"> 
          <div class="painelAdd"> 
            <input class="inputText" ngModel #addTextField="ngModel" required name="text" type="text" placeholder="Adicionar tarefa..." > 
            <select class="select" ngModel #select1="ngModel"  required name="urgente" style="margin-left: 10px;"  form="novaTarefa">
              <option value="" hidden> Prioridade </option>
              <option [ngValue]="true"> Urgente </option>
              <option [ngValue]="false"> Normal </option>
             
            </select>
            <select class="select" ngModel #select2="ngModel" required name="periodo" style="margin-left: 10px;" form="novaTarefa" >
              <option value="" hidden> Periodo </option>
              <option value="Manhã"> Manhã </option>
              <option value="Tarde"> Tarde </option>
              <option value="Noite"> Noite </option>
            </select>
            <select class="select" ngModel #select3="ngModel" required name="dia" style="margin-left: 10px;" form="novaTarefa" >
              <option value="" hidden> Dia da semana </option>
              <option value="all"> Todos os dias </option>
              <option value="seg"> Segunda </option>
              <option value="ter"> Terça </option>
              <option value="qua"> Quarta </option>
              <option value="qui"> Quinta </option>
              <option value="sex"> Sexta </option>
              <option value="sab"> Sábado </option>
              <option value="dom"> Domingo </option>
            </select>
            <button style="margin-left: 10px;" >
              Adicionar
            </button>
          </div>
          <div *ngIf="addTextField.invalid && validationErrors">
            
            <p class="help text-danger" > Por favor, preencha o campo.</p>

          </div>
          <div *ngIf="addTextField.valid && validationErrors">
            
            <p class="help text-danger" *ngIf="select1.invalid" > Por favor, escolha a prioridade.</p>
            
          </div>
          <div *ngIf="addTextField.valid && select1.valid && validationErrors">
            
            <p class="help text-danger" *ngIf="select2.invalid" > Por favor, escolha o período.</p>

          </div>
          <div *ngIf="addTextField.valid && select1.valid && select2.valid && validationErrors">
            
            <p class="help text-danger" *ngIf="select3.invalid" > Por favor, escolha o dia da semana.</p>

          </div>

        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</li>

<!--
<ngb-accordion #acc="ngbAccordion"   >
    <ngb-panel id="{{painelId}}"  title="Nova Tarefa...">
      <ng-template ngbPanelContent>
        <form #form="ngForm" (ngSubmit)="OnFormsSubmit(form)" id="novaTarefa"> 
          <div> 
            <input ngModel #addTextField="ngModel" required name="text" style="width: 325px;" class="input" type="text" placeholder="Adicionar tarefa..." > 
            <select ngModel #select1="ngModel"  required name="prioridadeNivel" style="margin-left: 10px;"  form="novaTarefa">
              <option value="" hidden> Prioridade </option>
              <option value="1"> Urgente </option>
              <option value="2"> Mediana</option>
              <option value="3"> Leve </option>
            </select>
            <select ngModel #select2="ngModel" required name="periodo" style="margin-left: 10px;" form="novaTarefa">
              <option value="" hidden> Periodo </option>
              <option value="Manhã"> Manhã </option>
              <option value="Tarde"> Tarde </option>
              <option value="Noite"> Noite </option>
            </select>
            <button style="margin-left: 10px;" >
              adicionar
            </button>
          </div>
          <div *ngIf="addTextField.invalid && validationErrors">
            
            <p class="help text-danger" > Por favor, preencha todos os campos.</p>

          </div>
          <div *ngIf="addTextField.valid && validationErrors">
            
            <p class="help text-danger" *ngIf="select1.invalid" > Por favor, escolha a prioridade.</p>
            
          </div>
          <div *ngIf="addTextField.valid && select1.valid && validationErrors">
            
            <p class="help text-danger" *ngIf="select2.invalid" > Por favor, escolha o período.</p>

          </div>

        </form>
      </ng-template>
    </ngb-panel>
</ngb-accordion>

-->