<li draggable="true" id="{{i}}" class="shadow-sm" [ngClass]="t.urgente ? 'tarefa-1' : 'tarefa-2' " [class.completed]="t.completed" (click)="onItemClick()">
    <span class="lead"  >   {{t.text}} </span> 
    <button  class="editButton material-icons"  (click)="$event.stopPropagation()"  (click)="onClickedEdit()"> edit </button> 
    <button class="delButton material-icons" (click)="$event.stopPropagation()" (click)="onClickedDelete()" > delete </button>
 </li>
 <!-- [ngClass]="{'tarefa-1': t.prioridadeNivel === 1,'tarefa-2': t.prioridadeNivel === 2, 'tarefa-3': t.prioridadeNivel === 3}"-->
 